h1 {
  display: flex;
  justify-content: center;
  color: blueviolet;
  text-decoration: underline wavy; }

h3 {
  color: aqua;
  text-decoration: line-through; }

ul {
  display: flex; }
  ul a {
    text-decoration: none; }
    ul a:hover {
      text-decoration: underline wavy;
      font-weight: bolder; }

header {
  background-color: #1c0221; }

main {
  background-color: #515bea; }

div h4 {
  color: #fca311; }

div h2 {
  color: #fca311;
  text-decoration: underline;
  margin-bottom: 1rem; }

.padre_responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }

.video_responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

div label {
  color: #8cff98; }

.img-size {
  width: 80%;
  height: 80%; }

.link-deco, .super-deco {
  text-decoration: none; }
  .link-deco:hover, .super-deco:hover {
    text-decoration: underline double; }

.link-arcane {
  color: #7A0DC7; }

.link-primal {
  color: #BB9457; }

.link-avatar {
  color: #00a6fb; }

.link-invincible {
  color: #ffe556; }

.super-deco {
  text-transform: uppercase; }
